$main-background-color: #F6FBFF;
$dark-blue-color: #0A449B;
$shadow-light-color: #D6E4F0;
$shadow-dark-color: #604BD8;
$purple-color: #7B65FF;
$dark-color: #2F2F2F;
$orange-color: #FFBD59;

$black-color: #000000;
$white-color: #ffffff;