@import './fonts.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  background-color: #F6FBFF;
  font-family: Raleway-Black;
}

body {
  padding: 30px 0;
}

.ellipse {
  border-radius: 50%;
  position: absolute;
}

.header-container, .footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.header-container .header-logo-text-container, .header-container .footer-logo-text-container, .footer-container .header-logo-text-container, .footer-container .footer-logo-text-container {
  display: flex;
  align-items: center;
}
.header-container .header-logo-text-container .header-text, .header-container .header-logo-text-container .footer-text, .header-container .footer-logo-text-container .header-text, .header-container .footer-logo-text-container .footer-text, .footer-container .header-logo-text-container .header-text, .footer-container .header-logo-text-container .footer-text, .footer-container .footer-logo-text-container .header-text, .footer-container .footer-logo-text-container .footer-text {
  color: #0A449B;
  font-size: 1.5em;
  font-weight: 900;
  padding-left: 5px;
}
.header-container .header-contact-us, .header-container .footer-contact-us, .footer-container .header-contact-us, .footer-container .footer-contact-us {
  display: flex;
  justify-content: center;
  width: 46px;
  height: 46px;
  background: #FFFFFF;
  box-shadow: 0px 37px 30px #D6E4F0;
  border-radius: 40px;
}
.header-container .header-contact-us .header-contact-us-text, .header-container .header-contact-us .footer-contact-us-text, .header-container .footer-contact-us .header-contact-us-text, .header-container .footer-contact-us .footer-contact-us-text, .footer-container .header-contact-us .header-contact-us-text, .footer-container .header-contact-us .footer-contact-us-text, .footer-container .footer-contact-us .header-contact-us-text, .footer-container .footer-contact-us .footer-contact-us-text {
  display: none;
}
.header-container .header-contact-us img, .header-container .footer-contact-us img, .footer-container .header-contact-us img, .footer-container .footer-contact-us img {
  width: 24px;
}

.main-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  text-align: center;
  margin-top: 90px;
  color: #2F2F2F;
  position: relative;
}
.main-information-container .main-information-green-ellipse {
  width: 50px;
  height: 50px;
  background: linear-gradient(219.89deg, #2CDBA6 16.2%, #2CBCDB 86.96%);
  left: -45px;
  top: 45px;
}
.main-information-container .main-information-orange-ellipse {
  width: 58px;
  height: 58px;
  background: linear-gradient(219.89deg, #FFBD59 16.2%, #FF5A6D 86.96%);
  left: calc(100% - 9px);
  top: 333px;
}
.main-information-container .main-information-purple-ellipse {
  display: none;
  width: 51px;
  height: 51px;
  background: linear-gradient(219.89deg, #7B65FF 16.2%, #2CBCDB 86.96%);
}
.main-information-container .main-information-green-two-ellipse {
  display: none;
  width: 51px;
  height: 51px;
  background: linear-gradient(219.89deg, #2CDBA6 16.2%, #2CBCDB 86.96%);
}
.main-information-container .main-information-title {
  color: #7B65FF;
  font-size: 3em;
  font-weight: 900;
  padding-bottom: 6px;
  position: relative;
}
.main-information-container .main-information-dash {
  background-color: #7B65FF;
  width: 42px;
  height: 8px;
  border-radius: 22px;
  position: absolute;
  top: 100%;
  left: calc(50% - 22px);
}
.main-information-container .main-information-subtitle {
  font-size: 1.5em;
  font-weight: 800;
  line-height: 38px;
  font-family: Raleway-ExtraBold;
  margin: 50px 0 25px 0;
}
.main-information-container .main-information-description {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  font-family: Raleway-Regular;
}
.main-information-container .main-information-action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background-color: #FFBD59;
  box-shadow: 0px 37px 30px #D6E4F0;
  border-radius: 47px;
  color: #ffffff;
  text-decoration: none;
  z-index: 10;
  margin: 50px auto;
}
.main-information-container .main-information-action-button .main-information-action-button-text {
  font-size: 18px;
  font-weight: 800;
  margin-left: 10px;
  font-family: Raleway-ExtraBold;
}
.main-information-container .main-information-photo {
  width: 100vw;
  background: url(assets/img/ellipse.svg) no-repeat center;
}

.advantages-container {
  margin: 70px 20px;
}
.advantages-container .advantages-title {
  color: #7B65FF;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 50px;
}
.advantages-container .advantages-items .advantage-item {
  margin: 50px 0;
}
.advantages-container .advantages-items .advantage-item .advantage-item-title {
  font-size: 1.5em;
  font-weight: 800;
  line-height: 36px;
  color: #0A449B;
  margin-bottom: 15px;
}
.advantages-container .advantages-items .advantage-item .advantage-item-description {
  font-size: 18px;
  line-height: 27px;
  font-family: Raleway-Regular;
}
.advantages-container .advantages-items .advantage-item .advantage-item-img {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.advantages-container .advantages-items .advantage-item .advantage-item-img img {
  width: 40px;
}
.advantages-container .advantages-items .advantage-item .advantage-item-green {
  background-color: #2CDBA6;
  box-shadow: 20px 20px 50px rgba(44, 219, 166, 0.35);
}
.advantages-container .advantages-items .advantage-item .advantage-item-red {
  background-color: #FF6359;
  box-shadow: 20px 20px 50px rgba(255, 99, 89, 0.35);
}
.advantages-container .advantages-items .advantage-item .advantage-item-purple {
  background-color: #7B65FF;
  box-shadow: 20px 20px 50px rgba(123, 101, 255, 0.35);
}

.extra-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 20px;
}
.extra-information-container .extra-information-green-ellipse {
  width: 36px;
  height: 36px;
  background: linear-gradient(219.89deg, #2CDBA6 16.2%, #2CBCDB 86.96%);
  left: -38px;
  top: 425px;
}
.extra-information-container .extra-information-purple-ellipse {
  display: none;
  width: 51px;
  height: 51px;
  background: linear-gradient(219.89deg, #7B65FF 16.2%, #2CBCDB 86.96%);
}
.extra-information-container .extra-information-orange-first-ellipse {
  display: none;
  width: 139px;
  height: 139px;
  background: linear-gradient(219.89deg, #FFBD59 16.2%, #FF5A6D 86.96%);
}
.extra-information-container .extra-information-orange-ellipse {
  width: 100px;
  height: 100px;
  background: linear-gradient(219.89deg, #FFBD59 16.2%, #FF5A6D 86.96%);
  left: 178px;
  top: 445px;
  z-index: 1;
}
.extra-information-container .extra-information-red-ellipse {
  width: 57px;
  height: 57px;
  background: #FF6359;
  box-shadow: 14.2824px 14.2824px 35.7061px rgba(255, 99, 89, 0.35);
  left: 78px;
  top: 768px;
  z-index: 1;
}
.extra-information-container .extra-information-red-ellipse-two {
  width: 80px;
  height: 80px;
  background: #FF6359;
  box-shadow: 20px 20px 50px rgba(255, 99, 89, 0.35);
  left: 226px;
  top: 393px;
  z-index: 1;
}
.extra-information-container .extra-information-green-ellipse-two {
  width: 43px;
  height: 43px;
  background: linear-gradient(219.89deg, #2CDBA6 16.2%, #2CBCDB 86.96%);
  left: 47px;
  top: 612px;
  z-index: 1;
}
.extra-information-container .extra-information-title {
  color: #7B65FF;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}
.extra-information-container .extra-information-description {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  font-family: Raleway-Light;
}
.extra-information-container .extra-information-action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background-color: #FFBD59;
  box-shadow: 0px 37px 30px #D6E4F0;
  border-radius: 47px;
  color: #ffffff;
  text-decoration: none;
  z-index: 10;
  margin: 30px auto 50px auto;
}
.extra-information-container .extra-information-action-button .extra-information-action-button-text {
  font-size: 18px;
  font-weight: 800;
  margin-left: 10px;
  font-family: Raleway-ExtraBold;
}
.extra-information-container .extra-information-photo {
  display: flex;
  justify-content: center;
  background: url(assets/img/triangle.svg) -125px -12px no-repeat;
  width: calc(100% + 40px);
  max-width: 405px;
  margin-bottom: 80px;
}
.extra-information-container .extra-information-photo:last-child {
  background: url(assets/img/triangle-bottom.svg) 50% 115px no-repeat;
}
.extra-information-container .extra-information-photo img {
  position: relative;
  z-index: 5;
}
.extra-information-container .extra-information-photo .extra-information-photo-phones-big, .extra-information-container .extra-information-photo .extra-information-photo-phone-big {
  display: none;
}

.pre-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: url(assets/img/mask.svg);
  background-color: #7B65FF;
  border-radius: 54px;
  padding: 120px 20px;
  margin: 0 20px 75px 20px;
}
.pre-footer-container .pre-footer-red-ellipse {
  width: 80px;
  height: 80px;
  background: #FF6359;
  box-shadow: 20px 20px 50px rgba(255, 99, 89, 0.35);
  top: 26px;
  left: -60px;
}
.pre-footer-container .pre-footer-orange-ellipse {
  width: 190px;
  height: 190px;
  background: linear-gradient(219.89deg, #FFBD59 16.2%, #FF5A6D 86.96%);
  top: -95px;
  left: 266px;
}
.pre-footer-container .pre-footer-green-ellipse {
  width: 65px;
  height: 65px;
  background: linear-gradient(219.89deg, #5DFECD 16.2%, #2CBCDB 86.96%);
  bottom: 24px;
  left: -33px;
}
.pre-footer-container .pre-footer-red-two-ellipse {
  width: 29px;
  height: 29px;
  background: #FF6359;
  box-shadow: 20px 20px 50px rgba(255, 99, 89, 0.35);
  bottom: 75px;
  left: 320px;
}
.pre-footer-container .pre-footer-green-two-ellipse {
  display: none;
  width: 97px;
  height: 97px;
  background: linear-gradient(219.89deg, #5DFECD 16.2%, #2CBCDB 86.96%);
  left: 995px;
  bottom: 165px;
}
.pre-footer-container .pre-footer-title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
  font-family: Raleway-Black;
}
.pre-footer-container .pre-footer-description {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  font-family: Raleway-Light;
  color: #ffffff;
}
.pre-footer-container .pre-footer-action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background-color: #FFBD59;
  box-shadow: 0px 37px 30px #604BD8;
  border-radius: 47px;
  color: #ffffff;
  text-decoration: none;
  z-index: 10;
  margin: 30px 0 50px 0;
}
.pre-footer-container .pre-footer-action-button .pre-footer-action-button-text {
  font-size: 18px;
  font-weight: 800;
  margin-left: 10px;
  font-family: Raleway-ExtraBold;
}

@media only screen and (max-width: 1440px) {
  .advantages-container .advantages-items .advantage-item-arrow {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .main-information-container {
    flex-direction: row;
    width: 100%;
    max-width: 1168px;
  }
  .main-information-container .main-information-photo {
    min-width: 506px;
    width: 80%;
    margin-left: 90px;
  }
  .main-information-container .main-information-text-block {
    text-align: left;
  }
  .main-information-container .main-information-action-button {
    margin: 50px 0;
  }
  .main-information-container .main-information-dash {
    left: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .main-information-container {
    margin: 65px 180px;
  }
  .main-information-container .main-information-green-ellipse {
    left: 350px;
    top: -95px;
  }
  .main-information-container .main-information-orange-ellipse {
    width: 140px;
    height: 140px;
    left: -250px;
    top: 560px;
  }
  .main-information-container .main-information-purple-ellipse {
    display: block;
    right: 590px;
    top: 420px;
  }
  .main-information-container .main-information-green-two-ellipse {
    display: block;
    right: -123px;
    top: 510px;
  }

  .header-container, .footer-container {
    margin: 0 40px;
  }
  .header-container .header-contact-us, .header-container .footer-contact-us, .footer-container .header-contact-us, .footer-container .footer-contact-us {
    min-width: 180px;
    align-items: center;
  }
  .header-container .header-contact-us .header-contact-us-text, .header-container .header-contact-us .footer-contact-us-text, .header-container .footer-contact-us .header-contact-us-text, .header-container .footer-contact-us .footer-contact-us-text, .footer-container .header-contact-us .header-contact-us-text, .footer-container .header-contact-us .footer-contact-us-text, .footer-container .footer-contact-us .header-contact-us-text, .footer-container .footer-contact-us .footer-contact-us-text {
    display: block;
    color: #0A449B;
    font-size: 18px;
    font-weight: 600;
    font-family: Raleway-Light;
  }
  .header-container .header-contact-us img, .header-container .footer-contact-us img, .footer-container .header-contact-us img, .footer-container .footer-contact-us img {
    display: none;
  }

  .footer-container {
    margin: 0 120px;
  }
  .footer-container .footer-contact-us {
    border: 2px solid #0A449B;
    box-sizing: border-box;
    box-shadow: none;
  }

  .advantages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 134px 0 178px 0;
  }
  .advantages-container .advantages-title {
    font-size: 3em;
    margin-bottom: 150px;
  }
  .advantages-container .advantages-items {
    display: flex;
    flex-direction: row;
  }
  .advantages-container .advantages-items .advantage-item {
    margin-left: 36px;
  }
  .advantages-container .advantages-items .advantage-item:first-child .advantage-item-images .advantage-item-arrow, .advantages-container .advantages-items .advantage-item:last-child .advantage-item-images .advantage-item-arrow {
    align-items: flex-start;
  }
  .advantages-container .advantages-items .advantage-item .advantage-item-title, .advantages-container .advantages-items .advantage-item .advantage-item-description {
    max-width: 307px;
  }
  .advantages-container .advantages-items .advantage-item .advantage-item-images {
    display: flex;
  }
  .advantages-container .advantages-items .advantage-item .advantage-item-images .advantage-item-arrow {
    display: flex;
    align-items: center;
    margin-left: 40px;
  }

  .extra-information-container {
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 180px 20px 180px;
  }
  .extra-information-container .extra-information-green-ellipse {
    width: 49px;
    height: 49px;
    left: 570px;
    top: 580px;
  }
  .extra-information-container .extra-information-orange-ellipse {
    width: 139px;
    height: 139px;
    left: 265px;
    top: 100px;
  }
  .extra-information-container .extra-information-purple-ellipse {
    display: block;
    left: 1050px;
    top: 65px;
  }
  .extra-information-container .extra-information-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    z-index: 5;
  }
  .extra-information-container .extra-information-text-block .extra-information-title {
    margin-bottom: 40px;
    line-height: 56px;
  }
  .extra-information-container .extra-information-text-block .extra-information-description {
    margin-bottom: 20px;
  }
  .extra-information-container .extra-information-title {
    font-size: 3em;
  }
  .extra-information-container .extra-information-photo {
    width: 50%;
    justify-content: flex-start;
    background: url(assets/img/triangle.svg) -133px 93% no-repeat;
    max-width: none;
  }
  .extra-information-container .extra-information-photo .extra-information-photo-phones, .extra-information-container .extra-information-photo .extra-information-photo-phone {
    display: none;
  }
  .extra-information-container .extra-information-photo .extra-information-photo-phones-big, .extra-information-container .extra-information-photo .extra-information-photo-phone-big {
    display: block;
  }

  .extra-information-container-reverse {
    flex-direction: row;
  }
  .extra-information-container-reverse .extra-information-red-ellipse-two {
    top: 70px;
    left: 1100px;
  }
  .extra-information-container-reverse .extra-information-green-ellipse-two {
    left: 610px;
    top: 390px;
  }
  .extra-information-container-reverse .extra-information-text-block {
    max-width: 540px;
    width: 100%;
  }
  .extra-information-container-reverse .extra-information-photo {
    justify-content: center;
    padding-bottom: 100px;
    background: url(assets/img/triangle-rotate.svg) 50px 158px no-repeat !important;
  }

  .pre-footer-container {
    padding: 190px 0;
    margin: 205px 120px 124px 120px;
  }
  .pre-footer-container .pre-footer-red-ellipse {
    top: 25px;
    left: 25px;
  }
  .pre-footer-container .pre-footer-orange-ellipse {
    left: 728px;
  }
  .pre-footer-container .pre-footer-green-ellipse {
    left: 196px;
    bottom: 64px;
  }
  .pre-footer-container .pre-footer-red-two-ellipse {
    width: 80px;
    height: 80px;
    bottom: -40px;
    left: 823px;
  }
  .pre-footer-container .pre-footer-green-two-ellipse {
    display: block;
  }
  .pre-footer-container .pre-footer-title {
    font-size: 3em;
    padding: 0 168px;
    margin-bottom: 25px;
  }
  .pre-footer-container .pre-footer-description {
    padding: 0 271px;
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
